name: CI Pipeline

on:
  push:
    branches: [main, master, develop]
  pull_request:
    branches: [main, master]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    uses: EnerpSoftware/.github/.github/workflows/reusable-build-node.yml@main
    with:
      node-version: '20'

  test:
    needs: build
    uses: EnerpSoftware/.github/.github/workflows/reusable-test.yml@main
    with:
      test-command: 'npm test --if-present -- --passWithNoTests'
      project-type: 'node'
